<!-- templates/welcome.html -->
{% extends "base_layout.html" %}

{% block title %}Matangazo{% endblock %}

{% block content %}
  <h2 class="mb-4 text-primary">Matangazo Mapya</h2>

  {% for ann in announcements %}
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h4 class="card-title">{{ ann.title }}</h4>
        <p class="card-text">{{ ann.content }}</p>

        {% if ann.image %}
          <img src="{{ ann.image.url }}" alt="Tangazo Image" class="img-fluid mb-3" style="max-width: 200px;">
        {% endif %}
        {% if ann.file %}
          <p><a href="{{ ann.file.url }}" class="btn btn-outline-primary btn-sm">Pakua PDF</a></p>
        {% endif %}

        <small class="text-muted">Imepostiwa na: {{ ann.posted_by.f_name }} {{ ann.created_at }}</small>

        {% if request.user == ann.posted_by %}
          <div class="mt-3">
            <a href="{% url 'edit_announcement' ann.id %}" class="btn btn-warning btn-sm">Hariri</a>
            <a href="{% url 'delete_announcement' ann.id %}" onclick="return confirm('Una uhakika unataka kufuta?');" class="btn btn-danger btn-sm">Futa</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
