<!-- templates/mwananchi/base.html -->
<!DOCTYPE html>
<html lang="sw">
<head>
     {% block extra_head %}{% endblock %}
    <meta charset="UTF-8">
    <title>Karibu Mwananchi</title>
</head>
<body>
    <header>
        <h1>Karibu Mwananchi: {{ request.user.get_full_name }}</h1>
        <nav>
            <a href="{% url 'welcome' %}">Nyumbani</a> |
            <a href="{% url 'kusoma' %}">Soma Tangazo</a> |
            <a href="{% url 'logout' %}">Toka</a>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
        {% block extra_script %}{% endblock %}
    </main>
</body>
</html>
